<a href="https://colab.research.google.com/github/filipecmedeiros/KNN/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
file = files.upload()

Saving iris.csv to iris (1).csv

In [0]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [0]:
iris = pd.read_csv('iris.csv')

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [0]:
iris.drop("Id", axis=1, inplace=True)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(
    iris.drop("Species", axis=1), iris["Species"], test_size=0.3)

In [10]:
x_train.shape, x_test.shape

((105, 4), (45, 4))

In [11]:
y_train.shape, y_test.shape

((105,), (45,))

In [0]:
knn = KNeighborsClassifier(n_neighbors=3)

In [13]:
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [0]:
result = knn.predict(x_test)

In [15]:
test = np.array([[5.1, 3.5, 1.4, 0.2]])
knn.predict(test), knn.predict_proba(test)

(array(['Iris-setosa'], dtype=object), array([[1., 0., 0.]]))

In [16]:
from sklearn import metrics
print (pd.crosstab(y_test, result, rownames=['Real'], colnames=['            Predito'], margins=True))

            Predito  Iris-setosa  Iris-versicolor  Iris-virginica  All
Real
Iris-setosa                   20                0               0   20
Iris-versicolor                0               14               0   14
Iris-virginica                 0                1              10   11
All                           20               15              10   45